html {
  font-size: 62.5%;
}

.wf-loading {
  visibility: hidden;
}

.wf-active {
  visibility: visible;
}

.common {
  align-items: center;
  background-image: url("./paper_fibers.png");
  display: flex;
  color: #333333;
  flex-flow: column nowrap;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  justify-content: center;
  line-height: 2.4rem;
}

.navi {
  align-items: center;
  background: rgb(44,62,80);
  display: flex;
  height: 5.6rem;
  justify-content: center;
  left: 0;
  list-style-type: none;
  margin: 0 0 5.6rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navi--item {
  color: rgb(246, 246, 246);
  font-weight: 700;
  margin-left: 2rem;
  text-decoration: none;
}

.navi--item:hover {
  color: #f2ca27;
  padding-bottom: 2px;
  border-bottom: solid 3px #f2ca27;
}

.navi--item__last-right {
  margin-left: auto;
}

.navi--item__logo {
}

.image-desc {
  align-items: center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(255, 255, 255, 1);
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin: 4.6rem 0 3.2rem 0;
  padding: 4.6rem 0 3.2rem 0;
}

.image-desc--img {
  /*width: 158px;*/
  height: 250px;
  margin-right: 4.6rem;
}

.image-desc--txt {
  /*flex: 1;*/
}

.image-desc--heading {
  line-height: 3.2rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.info {
  margin: 0 0 4.8rem 0;
}

.info--heading {
  border-left: solid 5px rgb(44,62,80);
  font-size: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  margin: 0 0 2.4rem 0;
  padding: 0 0 0 0.5rem;
  font-weight: 700;
}

.info--heading2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0 0 1.6rem 0;
}

.info--heading3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 0.8rem 0;
}

.info--txt {
  margin: 0 0 1.6rem 0;
  padding: 0 0 0 0;
}

.info--txt__list {
  font-size: 1.6rem;
  line-height: 2.4rem;
  list-style-type: decimal;
  padding-left: 1.7rem;
}

.info--txt__list_elem {
  margin-bottom: 0.7rem;
}

.info--txt__weight_700 {
  font-weight: 700;
}

.info--txt__weight_500 {
  font-weight: 500;
}

.footer {
  background: rgb(44,62,80);
  color: rgb(246, 246, 246);
  line-height: 2.4rem;
  padding: 0.8rem 0;
  text-align: center;
  width: 100%;
}
