.publication_list {
  > .heading {
    border-left: solid 5px rgb(44,62,80);
    font-size: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    margin: 0 0 2.4rem 0;
    padding: 0 0 0 0.5rem;
    font-weight: 700;
  }

  > .list {
    font-size: 1.6rem;
    line-height: 2.4rem;
    list-style-type: decimal;
    padding-left: 1.7rem;
    margin: 0 0 1.6rem 0;
    padding: 0 0 0 0;
  }
}