.cover-article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100vh;
  margin: 4.6rem 0 3.2rem 0;
  padding: 4.6rem 0 3.2rem 0;

  > .img {
    align-self: center;
    grid-column: 1;
    grid-row: 1 / 3;
    height: 250px;
    justify-self: end;
    margin-right: 1rem;
  }

  > .heading {
    align-self: end;
    font-size: 2.4rem;
    font-weight: 700;
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    line-height: 2.4rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  > .text {
    align-self: start;
    grid-column: 2;
    grid-row: 2;
    // line-height: 2.4rem;
    justify-self: start;
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
