doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width" initial-scale=1.0)
    link(rel="stylesheet" href="src/css/normalize.min.css")
    link(rel="stylesheet" href="src/css/milligram.min.css")
    link(rel="stylesheet" href="src/css/main.css")
    title Kensho Hara
  body.page-layout
    header: ul.nav-bar
      li.item Top
      li.item Profile
      li.item Research
      li.item Publications
      li.item Japanese
    
    block main