extends _common

block main
  main
    article.cover-article
      img.img(src='src/image/hara.jpg' alt='img')
      div
        h1.heading Kensho Hara, Ph.D.
        p.description a computer vision researcher.

    article.main-article
      h2.heading1 News
      ul.unorderedlist
        li.element
          | (Feb. 21, 2018) 
          a(href="https://arxiv.org/pdf/1711.09577.pdf") Our paper 
          | is accepted to CVPR 2018.
          a(href="https://github.com/kenshohara/3D-ResNets-PyTorch") The codes and pretrained models 
          | are available.
        li.element
          | (Oct. 4, 2017) Our paper is accepted to IEICE Transactions on Information and Systems.
        li.element
          | (Aug. 25, 2017) 
          a(href="https://github.com/kenshohara/3D-ResNets") Our codes and pretrained models 
          | of ICCV Workshop paper are available.
        li.element
          | (Aug. 22, 2017) 
          a(href="https://arxiv.org/abs/1708.07632") Our paper 
          | is accepted to ICCV 2017 Workshop.
        li.element
          | (Aug. 15, 2017) Our paper is accepted to ACMMM 2017 Workshop.

    article.main-article
      h2.heading1 Profile
      p.text
        | Bachelor's degree in Engineering, Nagoya University, 2012
        br
        | Master's degree in Information Science, Nagoya University, 2014
        br
        | Ph.D. degree in Information Science, Nagoya University, 2017

    article.main-article
      h2.heading1 Research Projects
      p.text
        | Human action recognition and detection in videos
        br
        | (Under construction...)

    article.main-article
      h2.heading1 Publications
      h3.heading2 Journal Papers
      ol.ordered-list
        li.element
          | Xueting Wang, #[span._medium Kensho Hara], Yu Enokibori, Takatsugu Hirayama, Kenji Mase,
          br
          | #[span._bold "Personal Viewpoint Navigation based on Object Trajectory Distribution for Multi-view Videos"],
          br
          | IEICE Transactions on Information and Systems, Vol. E101-D, No. 1, pp. 193–204, 2018.
        li.element
          | #[span._medium Kensho Hara], Takatsugu Hirayama, Kenji Mase,
          br
          | #[span._bold "Vote Distribution Model for Hough-based Action Detection"],
          br
          | IEICE Transactions on Information and Systems, Vol. E99-D, No. 11, pp. 2796–2808, 2016.
        li.element
          | #[span._medium Kensho Hara], Takatsugu Hirayama, Kenji Mase,
          br
          | #[span._bold "Simultaneous Recognition of Human Action and its Location Estimation Based on Multi-view Hough Voting"],
          br
          | IEEJ Transactions on Electronics, Information and Systems, Vol. 134, No. 5, pp. 634–642, 2014. (IN JAPANESE)

      h3.heading2 International Conference
      ol.ordered-list
        li.element
          | #[span._medium Kensho Hara], Hirokatsu Kataoka, Yutaka Satoh,
          br
          | #[span._bold "Can Spatiotemporal 3D CNNs Retrace the History of 2D CNNs and ImageNet?"],
          br
          | IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2018. (accepted)
          br
          | #[a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Hara_Can_Spatiotemporal_3D_CVPR_2018_paper.pdf") Paper], 
          | #[a(href="https://github.com/kenshohara/3D-ResNets-PyTorch") GitHub] (codes and pretrained models)
        li.element
          | #[span._medium Kensho Hara], Hirokatsu Kataoka, Yutaka Satoh,
          br
          | #[span._bold "Learning Spatio-Temporal Features with 3D Residual Networks for Action Recognition"],
          br
          | ICCV Workshop on Action, Gesture, and Emotion Recognition, 2017.
          br
          | #[a(href="http://openaccess.thecvf.com/content_ICCV_2017_workshops/papers/w44/Hara_Learning_Spatio-Temporal_Features_ICCV_2017_paper.pdf") Paper], 
          | #[a(href="https://github.com/kenshohara/3D-ResNets") GitHub] (codes and pretrained models)
        li.element
          | Xueting Wang, Yu Enokibori, Takatsugu Hirayama, #[span._medium Kensho Hara], Kenji Mase,
          br
          | #[span._bold "User Group based Viewpoint Recommendation using User Attributes for Multiview Videos"],
          br
          | ACM MM Workshop on Multimodal Understanding of Social, Affective and Subjective Attributes (MUSA), 2017.
        li.element
          | Xueting Wang, #[span._medium Kensho Hara], Yu Enokibori, Takatsugu Hirayama, Kenji Mase,
          br
          | #[span._bold "Personal Multi-view Viewpoint Recommendation based on Trajectory Distribution of the Viewing Target"],
          br
          | ACM Multimedia Conference (ACMMM), 2016.
        li.element
          | #[span._medium Kensho Hara], Kenji Mase,
          br
          | #[span._bold "Hough-based Action Detection with Time-warped Voting"],
          br
          | Asian Conference on Pattern Recognition (ACPR), 2015.
        li.element
          | #[span._medium Kensho Hara], Takatsugu Hirayama, Kenji Mase,
          br
          | #[span._bold "Trend-Sensitive Hough Forests for Action Detection"],
          br
          | International Conference on Image Processing (ICIP), 2014.
        li.element
          | #[span._medium Kensho Hara], Takatsugu Hirayama, Kenji Mase,
          br
          | #[span._bold "Simultaneous Action Recognition and Localization Based on Multi-View Hough Voting"],
          br
          | Asian Conference on Pattern Recognition (ACPR), 2013.